.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7%;
  padding-right: 8%;
}
@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
    padding-top: 3%;
  }
}
.home-details-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
@media screen and (min-width: 992px) {
  .home-details-container {
    max-width: 500px;
  }
}
.home-heading {
  text-align: center;
  max-width: 250px;
  font-size: 30px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .home-heading {
    margin-top: 15px;
    max-width: 400px;
    font-size: 25px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .home-heading {
    font-size: 40px;
  }
}
.home-img {
  width: 200px;
  height: 200px;
}
.home-img-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .home-img {
    display: none;
  }
  .home-img-desktop {
    display: flex;
    width: 40%;
    height: 250px;
  }
}
@media screen and (min-width: 992px) {
  .home-img-desktop {
    height: 400px;
  }
}
.home-description {
  line-height: 1.5em;
  text-align: center;
  padding: 15px;
  padding-bottom: 5px;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .home-description {
    text-align: left;
    padding: 0;
  }
}
.shop-now-btn {
  background-color: #0967d2;
  border-width: 0;
  width: 100px;
  height: 35px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
